<nav>
    <h1>
        Mongoose Store
    </h1>
    <h3>Gourmet mongoose food products</h3>
    <h6>Founded by mongoose for mongoose. "We know what mongoose want."</h6>
    <ul>
        <li>Store Page</li>
        <li>Sell Your Own</li>
    </ul>
</nav>