<h3><%= tabTitle %> | Gourmet mongoose food products</h3>
<h6>Founded by mongeese for mongeese. "We know what mongeese want."</h6> <br />
<nav>
    <ul>
        <li><a href="/store">Store Page</a></li>
        <li><a href="/store/new">Sell Your Own</a></li>
        <li><a href="/founder">Our Founder</a></li>
    </ul>
</nav>