<nav>
    <h3><%= tabTitle %> | Gourmet mongoose food products</h3>
    <h6>Founded by mongoose for mongoose. "We know what mongoose want."</h6>
    <ul>
        <li><a href="/store">Store Page</a></li>
        <li><a href="/store/new">Sell Your Own</a></li>
        <li><a href="/founder">Our Founder</a></li>
    </ul>
</nav>